.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
  margin: 0 auto;
}
.form-signin {
  border: 3px solid #f1f1f1
}
.form-label-group {
  padding: 10px;
}
input[type=text] {
  width: 94%;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  border: none;
  background: #f1f1f1;
}
.btn-submit {
  background-color: #04AA6D;
  color: white;
  padding: 16px 10px;
  border: none;
  cursor: pointer;
  width: 94%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-left: 10px;
}
.card-title {
  text-align: center;
}
