table{
  width:300px;
  border: 1px solid;
  border-collapse: 0px;
  border-spacing: 0px;
}
.white{
  height: 30px;
  width: 30px;
  background-color: #ffffff;
}
.black{
  height: 30px;
  width: 30px;
  background-color: #000000;
}
